*{ /*box-sizing: border-box;*/ margin: 0; padding: 0; transition: all .5s; }
@font-face { font-family: "Fredoka One"; src: url("./src/font/FredokaOne.woff2") format('woff2'); }
.clearfix::after{ content: ''; display: block; clear: both; }
body { background: #efefef;
font-family: "Microsoft yahei;
}
ul,ol{ list-style: none; }
a{ text-decoration: none; color: inherit; }
.top-nav-bar{ padding: 20px 0; position: fixed; top: 0; left: 0; right: 0;   /* 这样可以直接做到100% **/
  width: 100%; z-index: 10;}
.top-nav-bar.sticky{ background: white;  padding: 15px 0; box-shadow: 0 0 10px rgba(0,0,0,0.25)}
.top-nav-bar.sticky a{color: #3d4451;}
.top-nav-bar .header-inner{ padding: 0 16px; }
.top-nav-bar .logo{ float: left; font-size: 24px; /*font-family: 'Indie Flower';*/ font-family: "Fredoka One";
  font-weight: bold; padding-top: 5px; padding-bottom: 5px; }
.logo .rs{ color: #ef786e; text-transform: uppercase; margin-right: 4px; }
.logo .card{ color: gray; }
.top-nav-bar nav{ float: right; }
.top-nav-bar nav ul{ margin: 0; /*padding: 0;*/ padding-top: 3px; padding-bottom: 3px; }
.top-nav-bar nav ul > li{ float: left; margin-left: 17px; margin-right: 17px; position: relative;}
nav ul > li > a{ font-size: 12px;color: rgba(255, 255, 255, .7); font-weight: bold; padding-top: 8px; padding-bottom: 8px;
  display: block; border-bottom: 2px solid transparent; transition: border .3s; position: relative; }
nav ul > li > a::after{ content: ''; display: block; position: absolute; left: 0; width: 0; height: 3px; background: #e6686a;
  top: 100%; transition: width .3s; }
nav ul > li.active > a::after{ width: 100%; }
nav ul > li.highlight > a::after{ width: 100%; }
nav ul > li .subMenu{ position: absolute; right: 0; top: 105%; color: #9da0a7; display: none;
  background: white; padding: 3px 30px; box-shadow: 0 0 3px rgba(0,0,0,0.5)}
.subMenu > li{ padding: 4px 0; }
nav ul > li.active .subMenu{ display: block; animation: slideMenu .3s; }
@keyframes slideMenu {
  0%{
    margin-right: 100%;
  }
  100%{
    margin-left: 0;
  }
}
/* 背景图+遮罩 */
.banner{ height: 520px; background-image: url('./images/banner.jpg'); background-position: center center; background-size: cover; /*position: relative;*/ }
.banner > .mask{ height: 100%; background-color: rgba(0,0,0,.4); }
.max-content{ max-width: 930px; margin-left: auto; margin-right: auto; }
/*简介主体*/
main .main-content{ /*border: 1px solid red;*/ margin-top: -340px; background: #ffffff; }
/*简介内边距*/
.main-content .content-inner{ padding: 58px 50px; }
.user-avator, .user-profile{ float: left; }
.user-avator{ margin-right: 62px; }
.user-profile{ width: 460px; }
.user-profile .welcome{ color: #fff; font-weight: bold; display: inline-block; background: #e8676b; padding: 4px 16px; text-transform: uppercase;
  position: relative; margin-bottom: 10px; }
.welcome::after{ content: ''; position: absolute; left: 8px; top: 100%; height: 0;
  border: 4px solid transparent; border-left-color: #e8676b; border-top-color: #e8676b; }
.user-profile h1{ margin-top: 18px; }
.user-profile hr{ height: 0; border: none; margin: 20px 0; border-top: 1px solid #dedede; }
.user-profile dt, .user-profile dd{ float: left; }
.user-profile dt{ width: 30%; font-weight: bold; padding: 8px 0; }
.user-profile dd{ width: 70%; color: #9da0a7; padding: 8px 0; }
.main-footer{ background: #e6686a; padding: 22px 0; text-align: center; }
.main-footer ul{ display: inline-block; }
.main-footer li{ float: left; margin:0 15px; }
.main-footer>ul>li>a>svg.icon{ width: 30px; height: 30px; fill: red; color: red;}
.main-footer li{ padding: 7px 8px; border-radius: 50%; }
.main-footer li:hover{ background: rgba(0, 0, 0, .1); }
/*下载按钮*/
.download-section{ text-align: center; margin: 32px 0; }
.download-section a{ padding: 16px 50px; border: 1px solid #cdcfd1; display: inline-block; font-size: 12px;
  font-weight: bold; transition: box-shadow 0.3s; }
.download-section a:hover{ box-shadow: 0px 5px 6px -2px rgba(0,0,0,0.35); }
.profile-info{ margin: 15px 0; text-align: center; font-family: "华文行楷", Centaur; }
.profile-info p{ line-height: 1.6; }
.max-content h2{ text-align: center; font-size: 34px; color: #3d4451; font-weight: 600; }
.skills{ padding-top: 30px; }
.skills ol{ margin: 40px 0; padding: 40px; background: #fff; box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5); }
.skills li{ float: left; box-sizing: border-box; width: 50%; padding-right: 20px; }
.skills li:nth-child(even){ float: right; }
.skills li h3{ position: relative; font-weight: normal; }
.skills .skill-item{ margin: 10px 0; }
.skill-item::before{ content: ''; position: absolute; left: 0; right: 0; top: 120%; height: 5px; background-color: #fae1e1; border-radius: 3px; }
.skill-item::after{ content: ''; position: absolute; left: 0; right: 0; top: 120%; height: 5px; background: #e6686a; border-radius: 3px; }
.skills li:first-child .skill-item::after{ right: 20%; }
.skills li:nth-child(2) .skill-item::after{ right: 30%; }
.skills li:nth-child(3) .skill-item::after{ right: 40%; }
.skills li:nth-child(4) .skill-item::after{ right: 50%; }
.skills li:nth-child(5) .skill-item::after{ right: 60%; }
.skills li:last-child .skill-item::after{ right: 80%; }
/*作品集*/
.portfolio{ text-align: center; margin-bottom: 100px; }
.portfolio nav{ text-align: center; display: inline-block; vertical-align: top; }
.portfolio ol{ margin: 20px 0; display: inline-block; vertical-align: top; }
.portfolio li{ float: left; margin-left: 20px; cursor: pointer; }
.portfolio li:first-child{ margin-left: 0; }
#nav-progress-bar{ height: 5px; border-radius: 3px; background: #fff; margin-right: 10px; box-sizing: border-box; }
.inner-bar{ height: 100%; background: #e6686a; border-radius: 3px; transition: all .4s; }
#nav-progress-bar.state1 .inner-bar{ width: 30px; }
#nav-progress-bar.state2 .inner-bar{ width: 40px; margin-left: 50px; }
#nav-progress-bar.state3 .inner-bar{ width: 70px; margin-left: 116px; }

/*作品集*/
.works{ margin-top: 40px; position: relative; }
.works.state1{ height: 598px; }
.works.state2{ height: 288px; }
.works.state3{ height: 288px; }
.works .photo{ position: absolute; transition: all 0.6s; }
.works .big{ width: 606px; height: 597px; }
.works .small{ width: 293px; }
.state1 .big.work1{ left: 0; top: 0; }
.state1 .small.work2{ right: 0; top: 0; }
.state1 .small.work3{ right: 0; bottom: 0; }
.state2 .big.work1{ left: 100px; top: 0; opacity: 0; } .state2 .small.work2{ left: 0; top: 0; }
.state2 .small.work3{ top: 0; left: 300px; }
.state3 .big.work1{ left: 0; top: 0; opacity: 0; }
.state3 .small.work2{ left: 0; top: 0; }
.state3 .small.work3{ top: 0; left: 100px; opacity: 0; }
/* loading*/
.loading-wrap{ position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: #fff; z-index: 11; display: none;
  justify-content: center; align-items: center; }
.loading-wrap.active{ display: flex; }

/* 上滑动画 */
[data-x]{
  transform: translateY(0);
  transition: all .5s;
}
[data-x].offset{
  transform: translateY(30px);
}
