*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.slide-wrap{
  display: flex;
  transition: all 0.3s;
}
.slide-wrap > img{
  width: 400px;
}

.window{
  margin: 100px auto 40px;
  width: 400px;
  border: 1px solid green;
  overflow: hidden;
}
.buttons,.controls{
  margin-top: 20px;
  text-align: center;
}
button{
  padding: 4px 10px;
}
